@model DownloadEmailViewModel;

<head>
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            padding: 20px 0;
        }

            .header img {
                width: 150px;
            }

        .content {
            font-size: 16px;
            color: #333333;
            line-height: 1.6;
        }

            .content p {
                margin: 0 0 20px;
            }

        .button {
            display: block;
            width: 200px;
            margin: 20px auto;
            padding: 10px 0;
            text-align: center;
            background-color: #007bff;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
        }

        .footer {
            text-align: center;
            font-size: 12px;
            color: #777777;
            margin-top: 20px;
        }

            .footer a {
                color: #007bff;
                text-decoration: none;
            }

            .footer p {
                margin: 0;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="https://fileshareapplication.blob.core.windows.net/uploads/file-sharing-high-resolution-logo-transparent.png?sp=r&st=2024-08-13T06:08:05Z&se=2025-08-13T14:08:05Z&spr=https&sv=2022-11-02&sr=c&sig=ybvIB%2Fz1BFFKP6x%2BDVdB3ETxxLBHg%2BSdH5HzfxvvWKE%3D" alt="Logo" class="header-image">
        </div>
        <div class="content">
            <p>Hello,</p>
            <p>@Model.SendingEmail has sent you a file to download: @Model.File.FileName</p>
            <a href="@Model.DownloadUri" class="button">Download</a>
            <p>Thank you,<br>FileSharing Team</p>
        </div>
    </div>
</body>