@model ApplicationUser;

<script src="~/js/Upload.js"></script>
<link rel="stylesheet" href="~/css/Upload.css">

<h2>Upload</h2>
<h4>@Model.Email</h4> <!-- Move this into Header banner at some point -->

<body>
    <div class="upload-container">
        <form id="upload-form" asp-controller="Files" asp-action="UploadFile" method="post" enctype="multipart/form-data">

            <input type="file" name="File" id="file-input" hidden> <!-- File param -->

            <div id="drop-area" class="drop-area">
                <p>Drag & drop a file here or <span id="browse-button">browse</span></p>
            </div>

            <input type="email" name="RecipientEmail" id="recivingEmail-input" placeholder="Enter Recipients Email"> <!-- Recipients's email param -->

            <input type="hidden" name="SendingEmail" id="sendingEmail-input" value="@Model.Email" /> <!-- Sender's email param -->

            <button type="submit">Send File</button>

        </form>
        <p id="file-name"></p>
    </div>
</body>
