@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Generates anchor tag, displays it as a button and routes to registration pagee. -->
    @Html.ActionLink("Create Account", "Register", "Account", new object{},new{ @class = "btn btn-primary"})
    @Html.ActionLink("Sign-In", "SignIn", "Account", new object { }, new { @class = "btn btn-primary" })
</div>
